body {
            max-width: 400px;
            padding: 0 20px;
            background: rgb(238,174,202);
            background: -moz-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(7,63,129,1) 0%, rgba(35,77,138,1) 27%, rgba(45,82,141,1) 51%, rgba(56,87,145,1) 78%, rgba(111,113,162,1) 99%);
            background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(7,63,129,1) 0%, rgba(35,77,138,1) 27%, rgba(45,82,141,1) 51%, rgba(56,87,145,1) 78%, rgba(111,113,162,1) 99%);
            background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(7,63,129,1) 0%, rgba(35,77,138,1) 27%, rgba(45,82,141,1) 51%, rgba(56,87,145,1) 78%, rgba(111,113,162,1) 99%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#6f71a2",GradientType=1);
        }

        input {
            width: 70%;
            padding: 12px 12px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
            font-size: 15px;
        }
        button {
            background-color: seagreen;
            color: black;
            border: 2px solid cornflowerblue;
            padding: 12px 31px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .container {
            border: 2px solid #dedede;
            background-color: #f1f1f1;
            padding: 10px;
            margin: 10px 0;
            height: 300px;
            overflow: auto;
            font-size: 18px;
        }